
body {
  
  overflow-x:hidden;
}
.login-section {
  position: absolute;
  top: 82px;
  background-color: #fff; 
  background-image: url(../../assets/img/patterns.png);
  left: 10%;
  right: 0;
  min-width: 300px; 
  width: 100%;
  min-height: 94vh;
  border-bottom-left-radius: 40%; 
  border-top: 1px solid #00ce1b;    
  clip-path: polygon(0 0, 100% 0%, 100% 99%, 17% 99%);
}
.brd-tp1px{
  border-top: 1px solid #00ce1b;
}
/* .MuiToolbar-root{
  display: contents !important;
} */
.MTableToolbar-actions-118{
  display: inline-block !important;
}
.MuiTableCell-body{
  padding: 0px 0px 0px 8px !important; 
}
.MuiTableCell-body .MuiIcon-root{
  font-size: 16px !important;
}
.MuiTableHead-root .MuiTableCell-root{
  padding: 10px 0px 10px 8px !important;
}

.submit-btn{
  background: -webkit-linear-gradient(left, rgb(110, 113, 251) 0%, rgb(82, 175, 250) 63%, rgb(71, 183, 233) 100%);
  background: -o-linear-gradient(left, rgb(110, 113, 251) 0%, rgb(82, 175, 250) 63%, rgb(71, 183, 233) 100%);
  background: -ms-linear-gradient(left, rgb(110, 113, 251) 0%, rgb(82, 175, 250) 63%, rgb(71, 183, 233) 100%);
  background: -moz-linear-gradient(left, rgb(110, 113, 251) 0%, rgb(82, 175, 250) 63%, rgb(71, 183, 233) 100%);
  background: linear-gradient(to right, rgb(110, 113, 251) 0%, rgb(82, 175, 250) 63%, rgb(71, 183, 233) 100%);
  width:100%;
}
.form-control{
  BORDER: 0;
  BORDER-BOTTOM: 1px solid #ccc;
  border-radius: 0;
  padding-left: 0;
  box-shadow: none !important;
  -webkit-box-shadow: none !important;  
  padding-left: 30px;
}

.form-control1{
  BORDER: 0;
  BORDER-BOTTOM: 1px solid #ccc;
  border-radius: 0;
  padding-left: 0;
  box-shadow: none !important;
  -webkit-box-shadow: none !important;  
  padding-left: 10px;
}
.form-group{
  position:relative;
}
.sign-in{
  color:#419fe7;
}
.or{
  color:#deb450;
}
.sign-up{
  color: #a1a4aa;
  /* border-bottom: 1px solid #a1a4aa; */
}
.form-content{
  float: right;
  margin-right: 5%;
  width: 70%;
}

.input-icon{ 
  font-size: 15px;
  color: #887b7b;
}
.info-section{
  position: absolute;
    top: 96px;
    transform: translate(50%, 50%);
    width: 29%;
}

.info-section h2{
  color:#fff;
  font-size:30px;
}
.info-section p{
  font-size:18px;
  color:#fff;
}
.info-section ul li{
  color:#fff;
}
.carousel{
  height: 93vh;
  background: -webkit-rgb(1, 1, 11);
  background: -o-rgb(1, 1, 11);
  background: -ms-rgb(1, 1, 11);
  background: -moz-rgb(1, 1, 11);
  background: rgb(1, 1, 11);

}

.control-dots{
  left: -21%;
}
.control-dots .dot{
  border-radius: 0  !important;
    width: 20px !important;
    height: 5px  !important;
}

header .pad-50{
  padding:10px 50px;

}
.float-right{
  float:right;
}

.heading{
  position: absolute;
  top: 50%;
  transform: translate(50%, 0);
  max-width:700px;
  min-width:300px;
  text-align:center;
}
.heading h1{
  color:#fff;
}
.heading p{
  color:#fff;
  margin:20px 0 40px;
}
.heading a{
    text-align:center;
    border:3px solid #fff;
    color:#fff;
    padding:15px 30px;
    border-radius:25px;
}
.landing-page{
  height:100vh;
  overflow:hidden;
}
.heading{
  display:none;
}
.landing-page .heading{
  display:block;
}

.fixed_header{
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}

.fixed_header tbody{
  display:block;
  width: 100%;
  overflow: auto;
  max-height: 300px;
}

.fixed_header thead tr {
  display: block;
}

.fixed_header th, .fixed_header td {
  width: 200px;
}

.contentDiv {
  margin-top: 70px;
}

.contentDiv .dasboardStatic {
  width: 100%;
  height: auto;
}

.searchBox {
  float: right;
  width: 50%;
}

.inlineHeading {
  display: inline;
}

.clearDiv {
  clear: both;
}
/*Manoj changes*/
.page-wrapper.toggled .sidebar-wrapper{
  top:83px;
}
.submit-btn.link-bg:hover, .link-bg:hover {
  background: #2a931f !important;
  color: #ffffff !important;
  border-color:transparent!important;
}
.link:hover {
  color: #2a931f!important;
}
.addrfq-dateTime .MuiFormControl-root {
  width: 100%;
}
.button-style{
  background-color: #23a830 !important;
  border-color: #23a830 !important;
  background: #23a830;
}

.button-style:hover { 
  background: #00ce1b !important; 
}


.header-bold{
  font-weight: bold !important;
}  
/* Siva changes */
.next-button:hover {
  background-color: #00ce1b !important;
  color: #fff;
  box-shadow: none;
}
.reg-heading{
  border-bottom: 2px solid #eaeaf0;
  color: #887b7b;
  font-size: 20px;
  padding: 0px 0px 5px 2px;  
  margin-bottom: 15px;
}
.arrowIcons{
  /* float: right; */
  color: #fff !important;
  background-color: #00ce1b !important; 

}

.form-checkbox {
  color: #757577;
}
.checkboxIcon{
  color: #00ce1b;
}
.checkboxIcon:focus{
  color: #00ce1b;
} 
.filepond--drop-label.filepond--drop-label label{
  color: #757577;
  width: 100%;
  text-align: left;
  font-size: 20px;
}
.filepond--root .filepond--drop-label {
  background: #fff; 
  border-bottom: 1px solid #757577; 
}
.filepond--drop-label{ 
  justify-content: start !important;
}
.filepond--root :not(text) {  
  display: block;
  float: right;
}
.filepond--label-action{
  color: #fff;
  background:#00ce1b;
  border-bottom: none;
  padding: 4px 10px;
  border-radius: 5px;
  text-decoration-color: #00ce1b;
  font-size: 17px !important;
}
.rt-thead{
  background:#29AD01;
  color: #fff;

}
.filepond--root .filepond--drop-label {
  min-height: 3.25em;
}
.product-form .MuiFormLabel-root,.organization .MuiFormLabel-root{
  background: #fff;
  padding: 0px 5px;
}
.login-section{
  display: flex;
  align-items: center;
}
.form-content .MuiPaper-root{
  background-color: unset !important;
}
.form-checkbox .MuiTypography-body1{
  font-size: 15px;
}
.MTableToolbar-root-115 {
  min-height: 45px !important;
}
.MuiInput-underline{
  width: 80%; 
}
.MuiTableRow-root.MuiTableRow-hover:hover {
  background-color: #887b7b !important;
}

/* React table css   */
.rt-resizable-header-content{
  font-weight: normal;
} 

/* Onboard profile add form Styles */
.onboard-profile .modal-dialog {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 80%;
}
.onboard-profile .modal-body {
  display: flex;
  justify-content: center;
}
/*Add RFQ Styles*/
.addRFQ-link{
  display: block;
  float: right;
}
.vendor-text{
  float: left;
}
.add-rfq-main{
	border-top:none;
	top:88px;
  left:22%;
  background-image: none;
  min-height: auto;
  clip-path:none;
}
.m25{
	margin-left: 20px;
    margin-right: 66px;
    margin-top: 10px;
}
.rfq-submit-btn{
	width:16rem;
	margin-right:57px;
}
.set-border{
  border:1px solid #e0d6d7;
  border-radius: 5px;
  padding-top:10px;
}
.user-profile-setup-main{
  top:4px;
 	background-image: none;
  border-bottom-left-radius: 0;
  clip-path:none;
 }
.set-up-profile-left{
  left: 10%;
}
.mb10{
  margin-bottom: 10px;
}
.profile-set-up-header{
    color: #887b7b;
    font-size: 20px;
    padding: 0px 0px 5px 2px;
    margin-bottom: 15px;
}
.onBoarding-action-row{
  margin: 0px;
}
.btn-track{
  background-color: #464242;
  font-weight: bold;
  color: white;
  border: none;
}
.btn-track:hover{
  background-color: #464242;
  font-weight: bold;
  color: white;
  border: none;
}
.order-track-cell{
  display:'block';
  text-align:'center';
}
.p0{
  padding:0;
}
.set-left{
  float:left;
}
.order-tracking-peper{
  width: 30%;
  margin-bottom: 15px;
}
.order-tracking-peper .MuiPaper-root{
  border: 1px solid #00ce1b;
  border-radius: 15px;
  padding:0 15px;
} 
.order-tracking-peper .MuiIconButton-root{
  padding:5px;
}
.order-tracking-main .MuiTabs-flexContainer{
  display: block;
}
.order-tracking-main .MuiTabs-root{
  
  border-radius: 5px 5px 

}
.order-tracking-main .MuiTab-textColorPrimary.Mui-selected{
  color:white;
  background:#716c6c;
  margin:0 1px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  outline: none;
}
.order-tracking-main .MuiTab-textColorPrimary{
  background: #868c86b5;
  color: white;
  margin:0 1px;
  outline: none;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}
.order-tracking-main .MuiTab-root{
  font-size: 20px;
  text-transform: capitalize;
}
.order-tracking-main .MuiBox-root{
  border: 1px solid #d2d0d0;
}
.order-tracking-main .MuiPaper-elevation1{
  box-shadow: none;
}
.order-tracking-main .ReactTable .rt-thead .rt-resizable-header-content{
  padding:5px;
}
.order-tracking-otp-input{
  padding-left: 15px;
  letter-spacing: 42px;
  border: 0;
  background-image: linear-gradient(to left, black 70%, rgba(255, 255, 255, 0) 0%);
  background-position: bottom;
  background-size: 50px 1px;
  background-repeat: repeat-x;
  background-position-x: 35px;
  
}
.MuiDialogContent-root,.MuiDialogContent-dividers{
  border-top:none;
  border-bottom: none;
}
.order-tracking-model-body{
  padding:25px
}
.otp-form input {
  margin: 0 5px;
  text-align: center;
  line-height: 35px;
  font-size: 30px;
  border: solid 3px #00ce1b;
  box-shadow: 0 0 2px #00ce1b inset;
  outline: none;
  width: 17%;
  transition: all .2s ease-in-out;
  border-radius: 3px;
}
.otp-form {
  max-width: 335px;
  margin: 10px auto 0;
  display: flex;
}
.order-tracking-opt-submit{
  text-align: center;
}
.order-tracking-opt-submit button{
  background: #00ce1b;
  color:white;
  font-weight: bold;
  padding:10px 30px;
  font-size: 20px;
  margin-bottom: 20px;
}
.otp-title{
  color:#00ce1b;
  width:58%;
  text-align: center;
  margin:0;
  padding:0;
}
.otp-text-notif{
  margin: 25px 156px 30px;
  color: #00ce1b;
  font-weight: 600;
  font-size: 15px;
  text-align: center;
}
.otp-text-notif a {
  color: #842b2b;
  font-weight: 700;
}
.m0{
  margin: 0;
}
.order-tracking-otp-model .MuiDialog-paperWidthSm{
  border:3px solid #00ce1b;
  border-radius: 20px !important;
}
.otp-warning-msg{
  color:red;
}
.otp-disabled{
  opacity: 0.1;
  pointer-events: none;
}
.otp-enabled{
  opacity: 1;
  pointer-events: all;
}
#customized-dialog-title .MuiSvgIcon-root{
  fill: #00ce1b !important;
}
#customized-dialog-title .MuiIconButton-label{
  border:2px solid #00ce1b;
  border-radius: 50%;
}
/* Progress bar css */
 .progress-heading{
  background-color: #00ce1b; 
  margin-bottom: 11px;
  color: #fff;
  font-size: 17px;
  font-weight: 500;
  margin: 0px;
}
.progress-headText{
  color: #887b7b;
  font-size: 17px;
  font-weight: 500;
  margin: 0px;
}
.progress-main{ 
  padding: 0px;
}
.tax-no{
  border-bottom: 1px solid #fff;
}
.progress-main .MuiExpansionPanelDetails-root {
  border: 1px solid #716c6c;
}
.transitionStep {
  filter: grayscale(1);
  color: white;
  width: 20px;
  height: 20px;
  font-size: 12px;
  background-color: rgba(211, 211, 211, 0.8);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.transitionStep.accomplished {
  filter: grayscale(0);
  background-color: #00ce1b;
} 
.progress-bar {
  background-color: unset !important;
}

.acomplished-text{
  position: absolute;
  top: 27px;
  color: #343433;
  width: 200px;
  font-weight: 500;
  font-size: 15px;
}
.MuiExpansionPanelSummary-root.Mui-expanded {
  min-height: 49px !important;
}
.MuiExpansionPanelSummary-content.Mui-expanded {
  margin: 10px 0 !important;
}
.text1{
  left: -35px;
}
.text2,.text3{
  left: -85px;
}
.text4{
  /* left: 0px;
   */
   right: -60px;
}
.progress-bar{
  width: 100%;
  margin: 0px;
  margin: 10px 0px;
}
.progress-bar .col-md-12{
  padding: 0px;
}
.progress-main .MuiPaper-elevation1{
  box-shadow: unset;
  width: 100%;
} 
.progress-expand-pannel{
  margin: 0px;
} 
.progress-main  .MuiExpansionPanelSummary-root{
  width: 100%;
  background-color: #00ce1b; 
  margin-bottom: 11px;
  color: #fff;
  font-size: 17px;
  font-weight: 500;
  margin: 0px;
}
.gps-google-map{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 10px;
  border: 1px solid #d6d2d2;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.order-track-status-map{
  margin-bottom: 10px;
}
.RSPBprogressBar .RSPBprogression {
  background: #00ce1b !important;
}
/* Table styling  */
.table-heading{
  background-color: #a9aaaa;
  color: #000000;
  cursor: pointer;
  margin: 0px 0px 0px 0px;
  padding: 10px 24px;
  font-size: 20px;
  border-radius: 25px 25px 0px 0px;
}
.table-heading:hover,.table-heading:active,.table-heading:focus{
  background-color: #31353d;
  color: #ffffff;

}
.table-data{
  border: 1px solid #716c6c;
  padding: 20px;
}
.mrg-tp40px{
  margin-top: 40px;
}
.OTR-actions-row{
  margin: 0px;
  justify-content: center;
}
.OTR-actions { 
  width: 80%;
}
.OTR-approve-btn{
  background-color: #eaeaf0;
  color: #00ce1b;
  width: 80%;
  outline: none;
}
.OTR-reject-btn{
  background-color: #eaeaf0;
  color: #ce0030;
  width: 80%;
  outline: none;
}
.OTR-actions .MuiInput-formControl{
  width: 100%;
}
/* Send Authenticaion component styles */
.sendAuthenticaion-model .MuiDialog-paperWidthSm{
  width: 300px;
  border: 2px solid #00ce1b;
}
.sendAuthenticaion-hdg{
    text-align: center;
    font-size: 17px;
    font-weight: 500;
    color: #00ce1b;
}
.sendAuthenticaion-custhdg{
  color: #00ce1b;
  font-size: 15px;
  font-weight: 100;
}
.sendAuthenticaion-custName{
  color: #a9aaaa;
}
.sendAuthenticaion-formDiv{
  margin: 30px 0px;
}
.sendAuthenticat-submit-row{
  justify-content: center;
}
.sendAuthenticat-submit{
  background-color: #00ce1b !important;
  color: #fff !important;
}
.manage-gps-auth .manage-gps-title{
  /* font-weight: bold;
  color: #545252; */
  font-size: 2rem;
}
.manage-gps-auth .drop-down-sec{
  border: 1px solid #dcdada;
  border-radius: 5px;
}
.manage-gps-auth .set-center{
  text-align: center;
  margin:20px;
}
.manage-gps-auth .form-wrapper{
  margin-top:50px;
  
}
.manage-gps-auth .MuiFormControl-root label{
  font-weight: bold;
  font-size: 16px;
}
.manage-gps-auth .react-table-border{
  border: 1px solid #dcdada;
  padding:10px;
  border-radius: 5px;

}

.manage-gps-auth .manage-submit-button{
  margin: auto;
  top: -7px;
}

.react-table-header-style{
  text-align:left;
   padding: 5px 12px !important;
}

.react-table-row-content-align-left{
   display: block !important;
   text-align: left !important;
   padding: 5px 12px !important;
}